:root {
  // colors
  --ve-primary: #4caf4f;
  --ve-secondary: #263238;
  --ve-info: #2194f3;
  --ve-black: #263238;
  --ve-d-gray: #4d4d4d;
  --ve-gray: #717171;
  --ve-l-gray: #89939e;
  --ve-gray-blue: #abbed1;
  --ve-silver: #f5f7fa;
  --ve-white: #ffffff;
  --ve-shade-1: #43a046;
  --ve-shade-2: #388e3b;
  --ve-shade-3: #237d31;
  --ve-shade-4: #1b5e1f;
  --ve-shade-5: #103e13;
  --ve-tint-1: #66bb69;
  --ve-tint-2: #81c784;
  --ve-tint-3: #a5d6a7;
  --ve-tint-4: #c8e6c9;
  --ve-tint-5: #e8f5e9;
  --ve-warning: #fbc02d;
  --ve-error: #e53835;
  --ve-success: #2e7d31;

  // font sizes
  --ve-fs-1: 64px;
  --ve-fs-2: 36px;
  --ve-fs-3: 28px;
  --ve-fs-4: 20px;
  --ve-fs-5: 18px;
  --ve-fs-6: 16px;
  --ve-fs-7: 14px;
  --ve-fs-8: 12px;

  // line height
  --ve-lh-1: 76px;
  --ve-lh-2: 44px;
  --ve-lh-3: 36px;
  --ve-lh-4: 28px;
  --ve-lh-5: 24px;
  --ve-lh-6: 20px;
  --ve-lh-7: 16px;
}
